[Unit]
Description=LogViewer WEB Application

[Service]
WorkingDirectory=/var/www/logviewer/
ExecStart=/var/www/logviewer/main
User=root
Restart=always

[Install]
WantedBy=multi-user.target