[Unit]
Description=LogViewer WEB Application for viewing logs
After=network-online.target

[Service]
WorkingDirectory=/var/www/logviewer/
ExecStart=/usr/local/bin/logviewer -c /var/www/logviewer/conf.json
User=root
Restart=always

[Install]
WantedBy=multi-user.target