[Unit]
Description=LogViewer WEB Application for viewing logs
After=network-online.target
Requires=logviewer.socket

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/logviewer
WorkingDirectory=/var/lib/logviewer
ExecStart=/usr/bin/logviewer
User=logviewer
Group=logviewer
KillMode=process
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
Also=logviewer.socket