html, body{
    width: auto;
    height: 100% !important;
    min-width: 100%;
    min-height: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}
#header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #006894;
}
#service{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
#request{
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: steelblue;
}
#request #date, #ip, #time{
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 50px;
    width: 15%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5%;
}
#request #show{
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 50px;
    width: 15%;
    height: 26px;
    border: 2px solid black;
    border-radius: 5%;
}
#responce{
    font-family: consolas;
    font-size: 14px;
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: whitesmoke;
}