html,
body {
  width: auto;
  height: 100% !important;
  min-width: 100%;
  min-height: 100% !important;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}
.wrap {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.login {
  align-self: center;
  width: 40%;
  margin: 0 auto;
}
.login b {
  color: black;
  font-family: sans-serif;
}
.login input[type="text"],
input[type="password"] {
  font-family: sans-serif;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #006894;
}
.login button {
  font-size: 14px;
  font-family: sans-serif;
  background: #006894;
  color: white;
  padding: 12px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 25%;
  border: none;
  cursor: pointer;
  width: 50%;
  transition: 0.5s;
}
#header {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #006894;
}
#header #service {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 10px;
  color: white;
}
#header #type {
  margin-left: 5px;
  margin-top: 7px;
  font-family: sans-serif;
  font-size: 14px;
  width: 10%;
  height: 26px;
  border: 2px solid black;
  border-radius: 5%;
}
#header #time {
  position: absolute;
  top: 7px;
  right: calc(20% + 20px);
  font-family: sans-serif;
  font-size: 14px;
  width: 10%;
  height: 26px;
  border: 2px solid black;
  border-radius: 5%;
}
#header #name {
  position: absolute;
  top: 7px;
  right: calc(10% + 10px);
  font-family: sans-serif;
  font-size: 14px;
  width: 10%;
  height: 20px;
  border: 2px solid black;
  border-radius: 5%;
}
#header #mac {
  position: absolute;
  top: 7px;
  right: calc(10% + 10px);
  font-family: sans-serif;
  font-size: 14px;
  width: 10%;
  height: 20px;
  border: 2px solid black;
  border-radius: 5%;
}
#header #show {
  position: absolute;
  top: 7px;
  right: 7px;
  font-family: sans-serif;
  font-size: 14px;
  width: 10%;
  height: 26px;
  border: 2px solid black;
  border-radius: 5%;
}
#responce {
  font-family: consolas;
  font-size: 14px;
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
  background-color: whitesmoke;
}

table {
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  border-collapse: collapse;
}
thead {
  background-color: #006894;
  width: 100%;
}
thead tr {
  height: 31px;
}
thead th {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border: 1px solid black;
}
tbody tr {
  height: 31px;
}
tbody tr:hover {
  background-color: #0083bb;
  color: white;
}
tbody td {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #006894;
}
