html, body{
    width: auto;
    height: 100% !important;
    min-width: 100%;
    min-height: 100% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}
#header{
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #006894;
}
#header #service{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
#header #date{
    position: absolute;
    top: 7px;
    right: calc(30% + 30px);
    font-family: sans-serif;
    font-size: 14px;
    width: 10%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5%;
}
#header #time{
    position: absolute;
    top: 7px;
    right: calc(20% + 20px);
    font-family: sans-serif;
    font-size: 14px;
    width: 10%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5%;
}
#header #ip{
    position: absolute;
    top: 7px;
    right: calc(10% + 10px);
    font-family: sans-serif;
    font-size: 14px;
    width: 10%;
    height: 20px;
    border: 2px solid black;
    border-radius: 5%;
}
#header #show{
    position: absolute;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-size: 14px;
    width: 10%;
    height: 26px;
    border: 2px solid black;
    border-radius: 5%;
}
#responce{
    font-family: consolas;
    font-size: 14px;
    width: 100%;
    height: calc(70% - 40px);
    overflow: auto;
    background-color: whitesmoke;
}